body
{
    margin: 0px;
    border: 0px;
    background:wheat;
}
#header
{
    width: 100%;
    height: 80px;
    background:wheat;
    color:black;
}
#sidebar
{
    text-size-adjust: larger;
    width: 300px;
    height: 400px;
    background:grey;
    color: darkred;
    
    
    

}
#data
{
    height: 700px;
    background: wheat;
}

ul li 
{
    font-size: large;
    padding: 35px;
    border: 5px solid darkred;

}
img
{
    padding-left: 500px;
    padding-top: 100px;
}
ul li:hover
{
    color: white;
    background-color:darkred
    
}



 